<div id="imagen">

</div>
<div id="row">
  <div id="span6">
    <h2>Caracteristicas</h2>
    <p>Cloud School Computing ofrece el manejo administrativo de la escuela. Con esto se le facilita a la escuela la forma de administrar su alumnado y todo lo referente a ellos, ya que se ahorra tiempo para la creacion de los mismos, ya que el sistema tiene una interfaz muy amigable al usuario, que no se necesita tener conocimiento de sistemas, solo se necesita un click para crear un nuevo alumno. Permite tener mas de una escuela del mismo o distinto nivel. Cloud School computing ademas de ser amigable, es muy seguro, ya que cada admnistrador de la escuela o director tiene su propio usuario y contraseña y no puede ingresar a cualquier otra escuela. Ademas se cuenta con diferentes privilegios segun el tipo de usuario que se tenga, que va a tener diferentes acciones dentro del sistema.</p>
  </div>
  <div id="span5" style="width: 270px">
    <h2>Objetivo</h2>
    <p>El objetivo de esta pagina es hacer el mejor uso de la informacion disponible de alumnos, maestros, cursos, etc., y da de manera facil los datos de una gran cantidad de informacion disponible en la base de datos, asi permitiendole tomar decisiones para el mejor manejo de los recursos, ademas del analisis de la efectividad de la toma de decisiones administrativas. </p>
  </div>
  <div id="span5" style="margin-left: 20px">
    <h2>Contacto</h2>
    <p>Nuevo Leon, Mexico <br />
    Instituto Tecnologico y de Estudios <br />
     Superiores de Monterrey <br />
    Direccion <br />
    Tel: 83- <br />
    Correo: amejorado@itesm.mx</p>
  </div>
</div>

