<div id="imagen" >
  <%= image_tag "foto.gif" %> 
</div>

<div id="row">
  <div id="span6">
    <h2>Caracteristicas</h2>
    <p>Cloud School Computing ofrece el manejo administrativo de la escuela. Con esto se le facilita a la escuela la forma de administrar su alumnado y todo lo referente a ellos, ya que se ahorra tiempo para la creacion de los mismos, ya que el sistema tiene una interfaz muy amigable al usuario, que no se necesita tener conocimiento de sistemas, solo se necesita un click para crear un nuevo alumno. Permite tener mas de una escuela del mismo o distinto nivel. Cloud School computing ademas de ser amigable, es muy seguro, ya que cada admnistrador de la escuela o director tiene su propio usuario y contraseña y no puede ingresar a cualquier otra escuela. Ademas se cuenta con diferentes privilegios segun el tipo de usuario que se tenga, que va a tener diferentes acciones dentro del sistema.</p>
  </div>
  <div id="span5">
    <h2>Objetivo</h2>
    <p>El objetivo del sistema es administrar de manera eficiente la información académica del plantel educativo para apoyar la misión del mismo, haciendo un uso eficaz de los recursos de información, permitiendo que ésta pueda ser utilizada y actualizada en cualquier momento en la nube. </p>
  </div>
  <div id="span5" style="margin-left: 7px">
 <hr>
    <h2>Contacto</h2>
    <p>Cloud School Computing Inc <br />
info@cloudcomputing.com</p>

  </div>
</div>

