<% title "Editar Estudiante" %>
<center>
  <p>
    <%= link_to "Ver Expediente", school_student_path(@student.school,@student) %> |
    <%= link_to "Ver Todos los Alumnos", school_students_path %>
  </p>
</center>

<%= render 'form' %>
