<tr>
  <td><%= group_student.student.registration_number %></td>
  <td><%= group_student.student.first_name %> <%= group_student.student.last_name %></td>
  <td><%= link_to "Destroy", [@group.school,@group,group_student], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>

