<% title "Grupos" %>

<table id="box-table-a">
  <thead>
    <% if can? :create, Group %>
      <tr>
        <td colspan="10">
	  <%= link_to image_tag("add.png", :height => 14), new_school_group_path(@school) %>
	  <%= link_to "Nuevo Grupo", new_school_group_path(@school) %>
	</td>
      </tr>
    <% end %>
    <tr>
      <th>Profesor</th>
      <th>Materia</th>
      <th>Sal&oacute;n</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @groups %>
  </tbody>
</table>
