<% title "Subject" %>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <%= link_to "Edit", edit_school_subject_path(@subject.school,@subject) %> |
  <%= link_to "Destroy", [@subject.school,@subject], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", school_subjects_path(@subject.school) %>
</p>
