
/* Don't touch */
ul#jmenu
{
margin: 0px;
padding: 0px;
list-style: none;
}
ul#jmenu li
{
float: left;
margin: 0px;
padding: 0px;
//width: 1px; /* ie */
//vertical-align: bottom;  /* ie */
}
ul#jmenu li a
{
display: block;
white-space: nowrap;
}

ul#jmenu li ul
{
display: none;
position: absolute;
margin: 0px;
padding: 0px;
list-style: none;
zoom: 1;  /* ie */
}
ul#jmenu li ul li
{
float: none;
}

/* Styling starts here */
ul#jmenu
{
margin: 0 auto;
width: 70%;
height: 40px;
background: rgba(255,255,255,.7) url('../images/menu-bg.gif') repeat-x left top;
border-radius: 10px;
-moz-border-radius: 10px;
}
ul#jmenu li
{
background: url('../images/separator.gif') no-repeat right center;
padding: 0px 10px;
}
ul#jmenu li a:link, ul#jmenu li a:visited
{
padding: 0px 10px;
height: 40px;
line-height: 40px;
color: #000000;
font-size: 13px;
text-decoration: none;
background: transparent;
}
ul#jmenu li a:hover
{
color: #ffffff;
background: #7e8f88 url('../images/menu-bg.gif') repeat-x left bottom;
}
ul#jmenu ul
{
background-color: #AeBfB8;
border-left: 2px solid #AeBfB8;
border-bottom: 2px solid #AeBfB8;
border-right: 2px solid #AeBfB8;
}
ul#jmenu li ul li
{
padding: 0px;
background: url('../images/sub-separator.gif') repeat-x left bottom;
}
ul#jmenu li ul li a:link, ul#jmenu li ul li a:visited
{
min-width: 100px;
//width: 100px;  /* ie */
font-size: 12px;
height: 30px;
line-height: 30px;
}
ul#jmenu li ul li a:hover
{
background: #7e8f88 url('../images/menu-bg.gif') repeat-x left top;
}
