body {
  background-color: #7e8f88;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

#header {
  width: 100%;
  text-align: right;
  margin-top: -10px;
  margin-bottom: -55px;
  
}

#header img {
  position: relative;
  z-index: -1;
}

#footer {
  text-align: center;
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#hmenu {
  margin-top: -300px;
  margin-bottom: 175px;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255,255,255,.7);
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#box-table-a {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px auto 10px auto;
    text-align: left;
    min-width: 60%;
}

#box-table-a th {
    background: none repeat scroll 0 0 #9eC9A8;
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #AABCFE;
    color: #3366BB;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    font-weight: bold;
    text-align: center;
}
#box-table-a td {
    background: none repeat scroll 0 0 #E8EDFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    color: #666699;
    padding: 8px;
}
#box-table-a tbody tr:hover td {
    background: none repeat scroll 0 0 #D0DAFD;
    color: #333399;
}


#span6 {
  display: inline;
}

#span5 {
  width:280px;
  display: inline;
  
}
